---
import { getHomepage, getTeamMembers } from '../../lib/wp.ts';

import BaseLayout from "../layouts/BaseLayout.astro";
import HeroVideo from "../components/Hero.astro";
import PortfolioGallerySwiper from "../components/PortfolioGallerySwipper.astro";
import ReelsGallery from "../components/ReelsGallery.astro";
import AboutSection from "../components/AboutSection.astro";
import TeamSection from "../components/TeamSection.astro";
import ContactSection from "../components/ContactSection.astro";
import VerticalSection from "../components/VerticalSection.astro";
import WeddingPhoto from "../assets/img/wedding.jpg";
import Photo1 from "../assets/img/member1.jpg";




const images = [
  WeddingPhoto.src, Photo1.src, WeddingPhoto.src, Photo1.src
];


const homepage = await getHomepage();
const team = await getTeamMembers();
const videos = homepage?.portfolioVideos ?? [];
const reels = homepage?.reelsVideos ?? [];


const pageTitle = "FilmItNow - Twój film ślubny";

---

<style>
  /* Na małych ekranach – zmniejsz top */

  /* Treść */

  .description-paragraph {
    font-size: 1rem;
    color: #f4e9c3;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 1rem;
  }
</style>

<BaseLayout>
  <div id="start">

      <HeroVideo
        videoSrc={homepage.heroVideoUrl ?? ""}
      />


  </div>

  <div id="portfolio">
  <PortfolioGallerySwiper videos={videos} />
</div>
  <div id="reels">
    <ReelsGallery reels={reels} />
  </div>

  <div id="o-nas">
    <AboutSection
      headline={homepage.aboutHeadline ?? ""}
      subheadline={homepage.aboutSubheadline ?? ""}
      text={homepage.aboutText ?? ""}
      leftImages={homepage.aboutImagesLeft ?? []}
      rightImages={homepage.aboutImagesRight ?? []}
    />
    <TeamSection headline="Zespół" members={team} />
    <div id="kontakt">
      <ContactSection
  headline={homepage.formLeftText}
  description={homepage.formMainText}
  contact={{
    phone: homepage.formPhone,
    email: homepage.formEmail,
  }}
/>
    </div>

    <VerticalSection images={images} /> 
  
  </div>
</BaseLayout>

